@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #ff00e1, #00f7ff);
  padding: 1rem;
  font-weight: bold;
 
}

.cal-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px double rgb(250, 251, 251);
  outline: none;
  background-color: rgba(250, 40, 184, 0.25);
  padding: 25px;
}

.cal-grid > button:hover,
.cal-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.361);
}
